body{
    background-color: #F4D5DD;
}
form{
    margin-top: 100px;
    text-align: center;
    border: 1px solid #B03579;
    margin-left: 650px;
    margin-right: 650px;
    background-color: white;
    color: #B03579;
}
div{
    margin: 10px;
}